<!DOCTYPE html><html><head id="head" ><title>Challenges</title>
<link rel="stylesheet" type="text/css" href="../css/nav.css"  />
<link rel="stylesheet" type="text/css" href="../css/body.css"/>
<script src="../js/nav.js" defer ></script>
</head><body id="test"> 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"><div id="div1" class="container px-4"><div id="div9"></div></nav>

<center class="up">
<a href="https://hive.com/">  <img src="../IMG/hive.png"title="hive"></a>
<a href="https://www.ibm.com/eg-en/products/cognos-analytics">  <img src="../IMG/ibm.png"title="ibm"></a>
<a href="https://hadoop.apache.org/">  <img src="../IMG/hadoop.png"title="hadoop"></a>
<a href="https://powerbi.microsoft.com/en-au/desktop/">  <img src="../IMG/PowerBI.png"title="powerbi"></a>
<a href="https://www.r-project.org/">  <img src="../IMG/R.png"title="R Lang"></a>
<a href="https://www.generatedata.com/">        <img src="../IMG/generate data.png"    title="generatedata"></a>

</center>