<!DOCTYPE html>
<html>

<head id="head">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/nav.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/body.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/in_style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="javascripts/nav.js" defer> </script>
    <script src="javascripts/index.js"> </script>
    <script src="javascripts/clear.js"> </script>
    <script src="javascripts/send_2_back.js"> </script>
 </head>

<body id="body">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div id="div1" class="container px-4">
            <div id="div9"></div>

            <a style="right: 10%; color: white; margin-left: 1%; text-decoration: none" href="#popup1"> Add </a>
            <a style="right: 10%; color: white; margin-left: 1%; text-decoration: none" href="#popup1"> Update </a>
            <a style="right: 10%; color: white; margin-left: 1%; text-decoration: none" href="#popup1"> Delete </a>
    </nav>

    <script>

        var myVar = <%- JSON.stringify(arr) %>;

        get(myVar,"Quick Access",0); 

        window.onclick=e=>{

            x = e.target.innerText;
             

            switch (x) {
                case '0_0': x = '0_0'; y=1; break;
                case 'English': x =  'English';y=1; break;
                case 'Marketing':  x = 'Marketing'; y=1;break; 
                case 'JS':  x = 'JS';y=1; break; 
                case 'Py': x = 'Py'; y=1;break;
                case 'PHP': x = 'PHP';y=1; break;
                case 'Security':    x = 'Security';y=1; break;
                case 'Prog':    x = 'Prog';y=1; break;
                case 'UI-UX':   x = 'UI-UX'; y=1;break;
                case 'JOB':     x = 'JOB'; y=1;break;
                case 'Others':  x = 'Others';y=1; break;
                case 'Eg':  x = 'Eg';y=1; break;
                case 'Finance':     x = 'Finance';y=1; break;
                // default:    x = 'Quick Acess'; y=0; break; 
            }
            console.log("Choice = "+ x);

            get(myVar,x,y); 
 
         }
    </script>

    <div id="popup1" class="overlay">
        <div class="popup">
            <a class="close" href="#">&times;</a>
            <h2>
                link &nbsp; &nbsp;&nbsp;&nbsp;<input type="text" name="link" id="link"><br> <br>
                img &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="img" id="img"><br><br>
                title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="title" id="title"><br><br>
                html &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="html" id="html"><br><br>

                <!-- <ul>

                    dropdown list
                </ul> -->
                updown &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="integer" name="updown" id="updown"><br><br>
                Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" name="pass" id="pass"><br><br>

                <button id="sendy" onclick="send()">Add</button>
                <button style="color: red;" onclick='clr()'>clear</button>

            </h2>
        </div>
    </div>

    <script>
        var input = document.getElementById("title");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("sendy").click();
            }
        });
    </script>
</body>

</html>