<!DOCTYPE html><html><head id="head" ><title>Jobs</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/nav.css"  />
<link rel="stylesheet" type="text/css" href="../stylesheets/body.css"/>
<script src="../javascripts/nav.js" defer ></script>
</head><body id="test"> 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"><div id="div1" class="container px-4"><div id="div9"></div></nav>
    
<center class="up">
<a href="job_links.html"><img src="images/light-min.gif"   title="linkedin"></a>
<a href="https://www.linkedin.com/"><img src="images/in.png"   title="linkedin"></a>
<a href="https://wuzzuf.net/jobs/egypt/"><img src="images/Wuzzuf.png"   title="wuzzuf"></a>
<a href="https://www.bayt.com/en/egypt/"><img src="images/bayt.png"   title="bayt"></a>
<a href="https://www.freelancer.com/"> <img src="images/freelancer.png"   title="freelancer"></a>
<a href="https://mideastjobs.net/"> <img src="images/middle.png"   title="mideastjobs"></a>
 <a href="https://www.guru.com"> <img src="images/guru.png"   title="guru"></a>
<a href="https://www.glassdoor.com/index.htm"><img src="images/glassdoor.png"   title="glassdoor"></a>
<a href="https://www.upwork.com/"> <img src="images/upowrk.png"   title="upwork"></a>
<br>
<a href="https://jobsindelta.com/"> <img src="images/jobsindelta.png"   title="jobsindelta"></a>
<a href="https://forasna.com/"> <img src="images/forasna.png"   title="forasna"></a>
<a href="https://www.facebook.com/groups/ITJCS/"> <img src="images/itjbscourses.png"   title="IT Jobs and Courses"></a>
<a href="https://www.facebook.com/groups/jobsandvacancies/"> <img src="images/jbvacan.png"   title="jobs & vacancies"></a>
<a href="https://www.facebook.com/groups/976429042558188/"> <img src="images/itjobs.png"   title="it jobs In Egypt"></a>
<a href="https://www.facebook.com/groups/ITjobsinEgyopt/"> <img src="images/itbs.png"   title="ITjobsinEgyopt1"></a>
<a href="https://www.facebook.com/groups/1056006427821002/"> <img src="images/egydevjbs.png"   title="Egypt Developers Jobs"></a>
<a href="https://www.facebook.com/groups/ITJobsEGY/"> <img src="images/inftecjbs.png"   title="ITJobsEGY"></a>
<a href="https://www.facebook.com/groups/EgyptianGeeksJobs"> <img src="images/egygeek.png"   title="EgyptianGeeksJobs"></a>
<br>
<a href="https://www.facebook.com/ShaghalniOfficial">        <img src="images/sh-min.jpg"    title="ShaghalniOfficial"></a>
<a href="https://www.facebook.com/groups/cs.jobs.egypt/"> <img src="images/csjobsegy.png"   title="cs.jobs.egypt"></a>
<a href="https://www.facebook.com/groups/Dont.Work.Here/"> <img src="images/Don't Work Here2.png"   title="Dont.Work.Here"></a>
<a href="https://www.facebook.com/groups/767725120055206/"> <img src="images/client.png"   title="client"></a>
<a href="https://www.facebook.com/groups/FCISGraduateGroup/"> <img src="images/fcisasu.png"   title="FCISGraduateGroup"></a>
<a href="https://www.egycareers.com/">        <img src="images/egycareer.png"    title="egycareers"></a>
<a href="men7h.com">        <img src="images/menaah.png"    title="men7h"></a>
<a href="https://www.facebook.com/groups/314004286793745/">        <img src="images/menaah.png"    title="men7h"></a>
<a href="https://eg.expertini.com/jobs">        <img src="images/menaah.png"    title="men7h"></a>
<br>
<a href="https://jobs.caoa.gov.eg/Default_Jobs.aspx">        <img src="images/menaah.png"    title="men7h"></a>
<a href="https://developer.ibm.com/digitalnation/africa/courses/">        <img src="images/menaah.png"    title="men7h"></a>
<a href="https://shaghalni.com/">        <img src="images/menaah.png"    title="men7h"></a>
<a href="https://www.msrjob.com/">        <img src="images/menaah.png"    title="men7h"></a>
<a href="https://drjobs.ae/en/egypt/jobs">        <img src="images/menaah.png"    title="men7h"></a>
<a href="https://muwuzzuf.com/en">        <img src="images/menaah.png"    title="men7h"></a>
<a href="https://eg.indeed.com/?from=gnav-jobsearch--jasx"><img src="images/menaah.png"    title="men7h"></a>
<a href="https://egypt.tanqeeb.com/ar">        <img src="images/menaah.png"    title="men7h"></a>
<a href="https://www.jobsawy.com/">        <img src="images/menaah.png"    title="men7h"></a>
<br>
<a href="https://www.al7arefa.com/ar/"> <img src="images/el7arefa.png"   title="al7arefa"></a>
https://www.ibm.com/employment/

https://www.linkedin.com/company/al-futtaim/jobs/
https://www.linkedin.com/company/abs-courier/jobs/
https://www.linkedin.com/company/elarabygroup/jobs/
https://www.linkedin.com/company/qatar-national-bank-group/jobs/
https://www.linkedin.com/company/ux-centers/jobs/

https://www.linkedin.com/company/arab-bank/jobs/
https://www.afuturewithus.com/search/?createNewAlert=false&q=&locationsearch=egypt&optionsFacetsDD_facility=&optionsFacetsDD_city=&optionsFacetsDD_country=&optionsFacetsDD_customfield3=
https://www.amazon.jobs/en/search?base_query=&loc_query=Egypt&country=EGY
https://www.linkedin.com/company/halwani-brothers/jobs/
https://eg.bebee.com/
https://www.linkedin.com/company/roayait/jobs/

https://signjobs.danone.com/search

https://egypt.tanqeeb.com/ar
https://careers.rayacorp.com/en/job-search-results/

       
<a class="star" href="https://www.thebalancecareers.com/sample-email-job-application-letter-2061608">
    Job Application Email Examples and Writing Tips
</a>


</div>
<a href="https://www.facebook.com/andrewashraf.me">andrewashraf </a>
<a href="https://www.facebook.com/tarek.elkholy.73"> tarek.elkholy</a>



<a href="https://www.ibm.com/employment/"> <img src="images/ntra.jpg"   title="NTRA"></a>
<a href="https://jobs.dell.com/location/egypt-jobs/375/357994/2"> <img src="images/ntra.jpg"   title="NTRA"></a>


<a href="https://careers.elarabygroup.com/Home"> <img src="images/ntra.jpg"   title="NTRA"></a>
<a href="https://careers.rayacorp.com/en/myworkspace-j/"> <img src="images/ntra.jpg"   title="NTRA"></a>



<br>


<h1></h1>
</center>
<!--  

https://www.facebook.com/yallawork.ngo
<a href="https://www.facebook.com/groups/20084719473/"> <img src="images/jobfinderinegypt.png"   title="Job Finder In Egypt"></a>
<a href="https://www.facebook.com/groups/543685022330047/"> <img src="images/face.jpg"   title="JOb 4 u"></a>
<a href="https://www.facebook.com/24sjobtalkegy/"> <img src="images/face.jpg"   title="24sjobtalkegy"></a>
<a href="https://www.facebook.com/groups/449381225595822/"> <img src="images/face.jpg"   title="s"></a>
<a href="https://www.stepstone.de/?authEvent=googleRegister&lang=de#"> <img src="images/stepstone.png"   title="stepstone"></a>
<a href="https://www.tiktok.com/business/en?refer=tiktok_web"> <img src="images/tiktokb.jpg"   title="tiktokb"></a>

-->
</div></div>
<div class="div2">
<h2 style="margin-right: 53%;">Scholarships & Training</h2>

<a href="https://www.nti.sci.eg/dey"><img src="images/nti.png"   title="nti"></a>
<a href="https://www.iti.gov.eg/iti/home"><img src="images/iti.png"   title="iti"></a>
<a href="https://millionrowad.com"><img src="images/million.jpg"   title="millionrowad"></a>
<a href="http://techleaders.eg/aal"><img src="images/aaa.png"   title="techleaders"></a>
<a href="https://egfwd.com"><img src="images/FWD.png"   title="fwd"></a>
<a href="https://maharatech.gov.eg/">        <img src="images/mahara-min.png"    title="maharatech"></a>
<h2 style="margin-right: 53%;">Forigen Sites</h2>
<a href="https://www.seek.com.au/jobs/in-egypt"> <img src="images/seek.png"   title="seek"></a>
<!-- https://www.jobzella.com/en -->

</div></body></html>