 
https://www.ibm.com/employment/
https://www.linkedin.com/company/al-futtaim/jobs/
https://www.linkedin.com/company/abs-courier/jobs/
https://www.linkedin.com/company/elarabygroup/jobs/
https://www.linkedin.com/company/qatar-national-bank-group/jobs/
https://www.linkedin.com/company/ux-centers/jobs/
https://www.linkedin.com/company/arab-bank/jobs/
https://www.afuturewithus.com/search/?createNewAlert=false&q=&locationsearch=egypt&optionsFacetsDD_facility=&optionsFacetsDD_city=&optionsFacetsDD_country=&optionsFacetsDD_customfield3=
https://www.amazon.jobs/en/search?base_query=&loc_query=Egypt&country=EGY
https://www.linkedin.com/company/halwani-brothers/jobs/
https://eg.bebee.com/
https://www.linkedin.com/company/roayait/jobs/
https://signjobs.danone.com/search
https://egypt.tanqeeb.com/ar
https://careers.rayacorp.com/en/job-search-results/
https://www.thebalancecareers.com/sample-email-job-application-letter-2061608


<a href="https://www.facebook.com/andrewashraf.me">andrewashraf </a>
<a href="https://www.facebook.com/tarek.elkholy.73"> tarek.elkholy</a>


<a href="https://www.ibm.com/employment/"> <img src="images/ntra.jpg"   title="NTRA"></a>
<a href="https://jobs.dell.com/location/egypt-jobs/375/357994/2"> <img src="images/ntra.jpg"   title="NTRA"></a>

<a href="https://careers.elarabygroup.com/Home"> <img src="images/ntra.jpg"   title="NTRA"></a>
<a href="https://careers.rayacorp.com/en/myworkspace-j/"> <img src="images/ntra.jpg"   title="NTRA"></a>

https://www.facebook.com/yallawork.ngo
<a href="https://www.facebook.com/groups/20084719473/"> <img src="images/jobfinderinegypt.png"   title="Job Finder In Egypt"></a>
<a href="https://www.facebook.com/groups/543685022330047/"> <img src="images/face.jpg"   title="JOb 4 u"></a>
<a href="https://www.facebook.com/24sjobtalkegy/"> <img src="images/face.jpg"   title="24sjobtalkegy"></a>
<a href="https://www.facebook.com/groups/449381225595822/"> <img src="images/face.jpg"   title="s"></a>
<a href="https://www.stepstone.de/?authEvent=googleRegister&lang=de#"> <img src="images/stepstone.png"   title="stepstone"></a>
<a href="https://www.tiktok.com/business/en?refer=tiktok_web"> <img src="images/tiktokb.jpg"   title="tiktokb"></a>
