<!DOCTYPE html><html><head id="head" ><title>JS</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/nav.css"  />
<link rel="stylesheet" type="text/css" href="../stylesheets/body.css"/>
<script src="../javascripts/nav.js" defer ></script></head><body id="test"> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div id="div1" class="container px-4">
            <div id="div9"></div>
    </nav>
    <br><br><br>
<center>
    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"> <img src="images/MDN.png"   title="python"></a>
    <a href="https://expressjs.com/"> <img src="images/expressjs.png"   title="expressjs"></a>
    <a href="https://reactjs.org/"> <img src="images/react.png"   title="python"></a>
    <a href="https://angular.io/"> <img src="images/angular.png"   title="Angular"></a>
    <a href="https://vuejs.org/"> <img src="images/vuejs.png"   title="vue"></a>
    <a href="https://nodejs.dev/learn"> <img src="images/nodejs.png"   title="NodeJS"></a>
    <a href="https://api.jquery.com/"> <img src="images/jqurey.png"   title="jquery"></a>
    
    
    <br>
    <a href="https://babeljs.io/docs/en"> <img src="images/babel.png"   title="babeljs"></a>
    <a href="https://webpack.js.org"> <img src="images/webpack.png"  title="webpack"></a>
    <a href="https://pugjs.org/api/getting-started.html"> <img src="images/pugjs.png"   title="pugjs"></a>
    <a href="https://gulpjs.com/"> <img src="images/gulpjs.png"   title="gulpjs"></a>
    <br>
    <a href="https://www.electronjs.org/"> <img src="images/elctronjs.png"   title="electronjs"></a>
    <a href="https://nextjs.org/"> <img src="images/NextJS.png"   title="nextjs"></a>
    <a href="https://reactnative.dev/">        <img src="images/react-native.png"    alt="reactnative"></a>
    
    <br>
    <a href="https://jstherightway.org"> <img src="images/js_right.png"   title="jstherightway"></a>
    <a href="https://javascript.info/"> <img src="images/jsinfo.png"   title="jsinfo"></a>
    <a href="https://sequelize.org/"> <img src="images/sequelize.png"   title="sequelize"></a>
    <a href="https://loopback.io/"> <img src="images/loopback.png"   title="loopback"></a>
    <a href="https://jestjs.io/"> <img src="images/jest.png"   title="jestjs"></a>
    <a href="https://redux.js.org"> <img src="images/Redux.png"   title="Redux : State Managemnet Tool for JS "></a>
    <a href="http://reactivex.io/"> <img src="images/ReactiveX.png"   title="reactivex"></a>
    <a href="https://www.chartjs.org/"> <img src="images/chartjs.jpg"   title="chartjs"></a>
    <br>
    <a href="https://handlebarsjs.com/"> <img src="images/handlebars-js.png"   title="handlebarsjs"></a>
    <a href="https://mongoosejs.com/"> <img src="images/mongoose.png"   title="mongoosejs"></a>
    <a href="https://gruntjs.com/"> <img src="images/grunt.png"   title="gruntjs"></a>
    <a href="https://1loc.dev/"> <img src="images/logo.png"   title="1loc"></a>
    <a href="https://docs.npmjs.com/"> <img src="images/npm.png"   title="npmjs"></a>
    <a href="https://inertiajs.com/">        <img src="images/inertia.png"    alt="inertiajs"></a>
    
    <a href="https://emberjs.com/">        <img src="images/ember.svg"    alt="emberjs"></a>
    <a href="https://yarnpkg.com/">        <img src="images/yarn.png"    alt="yarnpkg"></a>
    
    
</center>

</div></body></html>