 
 
 
 
     <a href="https://sequelize.org/"> <img src="images/sequelize.png"   title="sequelize"></a>
    <a href="https://loopback.io/"> <img src="images/loopback.png"   title="loopback"></a>
    <a href="https://jestjs.io/"> <img src="images/jest.png"   title="jestjs"></a>
    <a href="https://redux.js.org"> <img src="images/Redux.png"   title="Redux : State Managemnet Tool for JS "></a>
    <a href="http://reactivex.io/"> <img src="images/ReactiveX.png"   title="reactivex"></a>
    <a href="https://www.chartjs.org/"> <img src="images/chartjs.jpg"   title="chartjs"></a>
    <br>
    <a href="https://handlebarsjs.com/"> <img src="images/handlebars-js.png"   title="handlebarsjs"></a>
    <a href="https://mongoosejs.com/"> <img src="images/mongoose.png"   title="mongoosejs"></a>
    <a href="https://gruntjs.com/"> <img src="images/grunt.png"   title="gruntjs"></a>
    <a href="https://1loc.dev/"> <img src="images/logo.png"   title="1loc"></a>
    <a href="https://docs.npmjs.com/"> <img src="images/npm.png"   title="npmjs"></a>
    <a href="https://inertiajs.com/">        <img src="images/inertia.png"    alt="inertiajs"></a>
    
    <a href="https://emberjs.com/">        <img src="images/ember.svg"    alt="emberjs"></a>
    <a href="https://yarnpkg.com/">        <img src="images/yarn.png"    alt="yarnpkg"></a>
    
 