 
    <a href="https://www.tra.gov.eg/ar/"> <img src="images/ntra.jpg"   title="NTRA"></a>
 
 
    <a href="https://hr.university/"> <img src="images/ntra.jpg"   title="NTRA"></a>
    <a href="https://www.hrci.org/our-programs/our-certifications/phr"> <img src="images/ntra.jpg"   title="NTRA"></a>
    <a href="https://ecornell.cornell.edu/certificates/human-resources/"> <img src="images/ntra.jpg"   title="NTRA"></a>
    <a href="https://www.shrm.org/certification/about/Pages/SHRM-SCP.aspx"> <img src="images/ntra.jpg"   title="NTRA"></a>
    <br>
    <a href="https://www.workable.com/"> <img src="images/workable_logo_green-min.png"   title="workable"></a>
    

    
<a href="https://www.olx.com.eg/en/myaccount/"><img src="images/olx.png"   title="olx"></a>
<a href="https://www.facebook.com/marketplace/?_rdc=2"><img src="images/marketplace.png"   title="marketplace"></a>
<a href="https://podcasts.google.com/"><img src="images/podcasts.png"   title="Google_Podcasts"></a>
<a href="https://chrome.google.com/webstore/category/extensions"><img src="images/chromext.png"    title="extensions"></a>
<a href="https://play.google.com/store/apps?hl=en">        <img src="images/googleplay.png"    title="googleplay"></a>
<a href="https://englishteststore.net/"> <img src="images/english.png"   title="english"></a>
<a href="https://winter-space-17432.postman.co/home"> <img src="images/postman.png"   title="clickup"></a>   
<a href="https://app.diagrams.net/"> <img src="images/diagrams.png"   title="diagrams"></a>
<a href="https://app.creately.com/diagram/MIDrCwKN4OR/edit"> <img src="images/Creately.png"   title="creately"></a>
<br>
<a href="https://www.pramp.com/#/"> <img src="images/MDN.png"   title="MDN"></a>
<a href="https://my.apify.com/"> <img src="images/Apify.png"   title="apify"></a>
<a href="https://dashboard.heroku.com/"> <img src="images/heroku.png"   title="heroku"></a>   
<a href="https://cpanel.net/"> <img src="images/cpanel.png"   title="MDN"></a>
<a href="https://bugman.atlassian.net/jira/your-work"> <img src="images/jira.png"   title="jira"></a>
<a href="https://kubernetes.io/"> <img src="images/kubernetes.png"   title="MDN"></a>
<a href="https://insomnia.rest/">        <img src="images/insomnia.png"    title="insomnia"></a>
<a href="https://hashnode.com/">        <img src="images/hashnode.png"    title="hashnode"></a>
<a href="https://www.gitkraken.com/">        <img src="images/gitkraken_glo.png"    title="gitkraken"></a>
<br>
<a href="https://goalkicker.com/">        <img src="images/goalkicker_books.png"    title="goalkicker_books"></a>
<a href="https://newrelic.com/">        <img src="images/newrelic.png"    title="newrelic"></a>
<a href="https://www.computerscience.org/careers/">        <img src="images/cslogo.png"    title="computerscience"></a>
<a href="https://onedrive.live.com/?id=root&cid=29FA4FAFDD71D387">        <img src="images/onedrive.png"    title="onedrive"></a>
<a href="https://www.google.com/alerts#">        <img src="images/alert1.png"    title="Google Alert"></a>
<a href="https://www.google.com/maps/@30.0604632,31.2511902,15z"> <img src="images/maps.png"   title="MDN"></a> 
<a href="https://www.tutorialspoint.com/index.htm"> <img src="images/tutorialspoint.png"   title="tutorialspoint"></a> 
<a href="https://www.multcloud.com/"> <img src="images/multicloud.png"   title="multi cloud"></a> 
<a href="https://rocketreach.co/?ref=cybrhome/"> <img src="images/rocketreach.png"   title="rocketreach"></a> 
<br>
<a href="https://mekeg.org/calculator"> <img src="images/rocketreach.png"   title="rocketreach"></a> 
<a href="https://www.free4talk.com/"> <img src="images/rocketreach.png"   title="rocketreach"></a> 
<a href="https://www.marj3.com/en"> <img src="images/rocketreach.png"   title="rocketreach"></a> 
<h2 style="margin-right: 40%;">Graphic Design</h2>
<a href="https://www.facebook.com/groups/583971245586828/"> <img src="images/rocketreach.png"   title="EPIC"></a> 
<a href="https://www.facebook.com/groups/392791044077830/"> <img src="images/rocketreach.png"   title="مصممين علي الناصية"></a> 


<h2 style="margin-right: 40%;">Always Search About :</h2> 
<h3 style="margin-right: 40%;">- windows - Excel shortcuts</h3>
<h3 style="margin-right: 40%;">- Best Android Apps [ في خدمتك My Ntra - My Fwary - Bm Wallet - BM Online - Bm Soft ] </h3>

 

<!--  ******************************************************************************* 
<a href="https://thepiratebay10.org/"> <img src="images/pirate.png"   title="pirate"></a>
https://www.notion.so/
https://www.pinterest.com/
https://app.enhancv.com/ // For Resume
https://trello.com/testit73/getting-started
https://cloud.google.com/appengine -->

 