<!DOCTYPE html><html><head id="head"><title>Programming</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/nav.css"  />
<link rel="stylesheet" type="text/css" href="../stylesheets/body.css"/>
<script src="../javascripts/nav.js" defer ></script>
</head><body id="test"> 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
<div id="div1" class="container px-4">
    <div id="div9"></div>
</nav>
<center class="up">
<h2 style="margin-right: 53%;">Learn</h2> 


<a href="https://www.guru99.com/">    <img src="images/grue.png"    title="guru99"></a>

<a href="https://www.w3schools.com/">    <img src="images/W3Schools.png"    title="w3schools"></a>
<a href="https://hackr.io/"> <img src="images/hacker.io.png"   title="hackr.io"></a>
<a href="https://edabit.com/">        <img src="images/edabit-min.png"    title="edabit"></a>
<a href="https://www.theodinproject.com/home">        <img src="images/theodinproject.jpg"    title="theodinproject"></a>
<a href="https://exercism.org/tracks">        <img src="images/visualstudio.png"    title="visualstudio"></a>

<a href="https://laracasts.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<h2 style="margin-right: 53%;">Java</h2> 
<a href="https://docs.oracle.com/en/java/"> <img src="images/java.png"   title="python"></a>
<a href="https://spring.io/projects/spring-boot"> <img src="images/spring.png"   title="spring Framework for Java"></a>
<h2 style="margin-right: 53%;">DB</h2> 

https://dbdb.io/

<a href="https://www.postgresql.org/docs/13/admin.html">        <img src="images/Postgresql_elephant.svg.png"    title="postgresql"></a>
<a href="https://www.mongodb.com/">    <img src="images/mongo.png"title="mongodb"></a>
<a href="https://drawsql.app/">        <img src="images/drawsql.png"    title="drawsql"></a>
<a href="https://dev.mysql.com/doc/">        <img src="images/mysql.png"    title="mysql"></a>
<a href="https://localhost/phpmyadmin/index.php?route=/server/databases&server=1"> <img src="images/phpmyadmin.png"   title="MDN"></a>
<a href="https://sqlitebrowser.org/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://www.sqlite.org/docs.html">        <img src="images/visualstudio.png"    title="visualstudio"></a>



<h2 style="margin-right: 53%;">Mobile</h2> 
<a href="https://flutter.dev/">        <img src="images/flutter.png"    title="flutter"></a>
<a href="https://dart.dev/"> <img src="images/dart.png"   title="Dart"></a>
<a href="https://firebase.google.com/"><img src="images/firebase.png" title="firebase"></a>
<a href="https://developer.android.com/guide">    <img src="images/android.png"    title="android"></a>
<a href="https://flutterawesome.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>

<h2 style="margin-right: 53%;">Microsoft</h2> 
<a href="https://dotnet.microsoft.com/apps/aspnet"> <img src="images/asp.png"   title="aspnet"></a>
<a href="https://code.visualstudio.com/docs">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://docs.microsoft.com/en-us/dotnet/csharp/"> <img src="images/csharp.png"   title="C#"></a>
<a href="https://powerapps.microsoft.com/en-us/"> <img src="images/PowerAppsLogo-min.png"   title="powerapps"></a>


<h2 style="margin-right: 53%;">Other</h2>
<a href="https://hub.docker.com/"> <img src="images/docker.png"   title="docker"></a>
<a href="https://www.typescriptlang.org/"> <img src="images/TS.png"   title="TypeSCript"></a>
<a href="https://www.scala-lang.org/"> <img src="images/scala.png"title="Scala Functional Programming Language"></a>
<a href="https://www.haskell.org/">    <img src="images/haskal.png"    title="Haskell"></a>
<a href="https://www.rust-lang.org/">    <img src="images/rust.png"    title="rust"></a>
<a href="https://bower.io/">        <img src="images/bower-logo.svg"    title="bower"></a>
<a href="https://www.wappalyzer.com/">        <img src="images/wappalyzer.svg"    title="wappalyzer"></a>
<a href="https://regexr.com/">        <img src="images/regexp.png"    title="regexp"></a>
<a href="https://www.lipsum.com/">        <img src="images/lorem-ipsum.png"    title="lipsum"></a>
<br>
<a href="https://memcached.org/"> <img src="images/Memcached.png"   title="memcached"></a>
<a href="https://www.datadoghq.com/">        <img src="images/datadog.png"    title="datadog"></a>
<a href="https://developer.chrome.com/docs/devtools/">        <img src="images/chrome dev.jpg"    title="chrome dev"></a>
<a href="https://www.phoenixframework.org/"> <img src="images/phoenix.png"title="phoenix framework"></a>
<a href="https://packagist.org/explore/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://www.odoo.com/page/docs">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://embold.io/">        <img src="images/visualstudio.png"    title="embold"></a>
<a href="https://htmlreference.io/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://www.doctrine-project.org/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<br>
<a href="http://git-scm.com/doc">        <img src="images/git-min.jpg"    title="git-scm"></a>
<a href="https://giters.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://socket.io/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://www.varnish-software.com/emea/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://www.yiiframework.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://jfrog.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://www.sketch.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://jsoneditoronline.org/"> <img src="images/json-editor.png"   title="jsoneditoronline"></a>
<a href="https://regex101.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://www.jenkins.io/"> <img src="images/Jenkins.png"   title="jenkins.io"></a>
<br>
<a href="https://kotlinlang.org/">        <img src="images/visualstudio.png"    title="visualstudio"></a> 
<a href="http://html2jade.aaron-powell.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://aqueduct.io/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://www.nagios.org/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://jade-lang.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>

<a href="https://www.mathworks.com/products/matlab.html">        <img src="images/visualstudio.png"    title="visualstudio"></a>


https://uigradients.com/#EveningNight

https://tableconvert.com/excel-to-html
============
5 Ways to Pass Variables Between Pages In Javascript
https://code-boxx.com/pass-variables-between-pages-javascript/
================
https://moatazworld.wordpress.com/2020/02/26/follow-developer-pages/?fbclid=IwAR3JGVKuyCdIQkW_96hi_S_GQ4KN_Jh0RQbAz3RrkJHoWw7ekXnPVd9nusE
===============
What is page speed?
https://moz.com/learn/seo/page-speed
===============

https://www.educative.io/learn

<h2 style="margin-right: 53%;">Refreshment:</h2>
        Frameworks for Developing Single Page Applications in 2022
<h2 style="margin-right: 53%;">windows Tips:</h2>
    How To Block All Websites Except one In Windows 10


</center></body></html>
<!--============= UX ================
https://www.wix.com/
https://www.squarespace.com/
https://webflow.com/
=================================
============= Clouds ? ================
<a href="https://www.cloudflare.com/"> <img src="images/cf.png"   title="MDN"></a>
<a href="https://platform.sh/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://www.cloudbees.com/products/codeship">        <img src="images/visualstudio.png"    title="visualstudio"></a>
============= Code Review ? ================
https://www.phacility.com/phabricator/
https://smartbear.com/product/collaborator/overview/
================================
https://www.tensorflow.org/
https://maven.apache.org/
https://www.back4app.com/
https://pusher.com/
https://www.mantisbt.org/
https://dotnet.microsoft.com/apps/xamarin
https://ionicframework.com/
https://cordova.apache.org/
https://www.digitalocean.com/community
https://www.crucial.com/
*https://nicepage.com/website-templates
-->






/////////////// other  links okay ? 

 
<a href="https://www.tra.gov.eg/ar/"> <img src="images/ntra.jpg"   title="NTRA"></a>
<a href="https://hr.university/"> <img src="images/ntra.jpg"   title="NTRA"></a>
<a href="https://www.hrci.org/our-programs/our-certifications/phr"> <img src="images/ntra.jpg"   title="NTRA"></a>
<a href="https://ecornell.cornell.edu/certificates/human-resources/"> <img src="images/ntra.jpg"   title="NTRA"></a>
<a href="https://www.shrm.org/certification/about/Pages/SHRM-SCP.aspx"> <img src="images/ntra.jpg"   title="NTRA"></a>
<a href="https://www.workable.com/"> <img src="images/workable_logo_green-min.png"   title="workable"></a>
<a href="https://www.olx.com.eg/en/myaccount/"><img src="images/olx.png"   title="olx"></a>
<a href="https://www.facebook.com/marketplace/?_rdc=2"><img src="images/marketplace.png"   title="marketplace"></a>
<a href="https://podcasts.google.com/"><img src="images/podcasts.png"   title="Google_Podcasts"></a>
<a href="https://chrome.google.com/webstore/category/extensions"><img src="images/chromext.png"    title="extensions"></a>
<a href="https://play.google.com/store/apps?hl=en">        <img src="images/googleplay.png"    title="googleplay"></a>
<a href="https://englishteststore.net/"> <img src="images/english.png"   title="english"></a>
<a href="https://winter-space-17432.postman.co/home"> <img src="images/postman.png"   title="clickup"></a>   
<a href="https://app.diagrams.net/"> <img src="images/diagrams.png"   title="diagrams"></a>
<a href="https://app.creately.com/diagram/MIDrCwKN4OR/edit"> <img src="images/Creately.png"   title="creately"></a>
<br>
<a href="https://www.pramp.com/#/"> <img src="images/MDN.png"   title="MDN"></a>
<a href="https://my.apify.com/"> <img src="images/Apify.png"   title="apify"></a>
<a href="https://dashboard.heroku.com/"> <img src="images/heroku.png"   title="heroku"></a>   
<a href="https://cpanel.net/"> <img src="images/cpanel.png"   title="MDN"></a>
<a href="https://bugman.atlassian.net/jira/your-work"> <img src="images/jira.png"   title="jira"></a>
<a href="https://kubernetes.io/"> <img src="images/kubernetes.png"   title="MDN"></a>
<a href="https://insomnia.rest/">        <img src="images/insomnia.png"    title="insomnia"></a>
<a href="https://hashnode.com/">        <img src="images/hashnode.png"    title="hashnode"></a>
<a href="https://www.gitkraken.com/">        <img src="images/gitkraken_glo.png"    title="gitkraken"></a>
<br>
<a href="https://goalkicker.com/">        <img src="images/goalkicker_books.png"    title="goalkicker_books"></a>
<a href="https://newrelic.com/">        <img src="images/newrelic.png"    title="newrelic"></a>
<a href="https://www.computerscience.org/careers/">        <img src="images/cslogo.png"    title="computerscience"></a>
<a href="https://onedrive.live.com/?id=root&cid=29FA4FAFDD71D387">        <img src="images/onedrive.png"    title="onedrive"></a>
<a href="https://www.google.com/alerts#">        <img src="images/alert1.png"    title="Google Alert"></a>
<a href="https://www.google.com/maps/@30.0604632,31.2511902,15z"> <img src="images/maps.png"   title="MDN"></a> 
<a href="https://www.tutorialspoint.com/index.htm"> <img src="images/tutorialspoint.png"   title="tutorialspoint"></a> 
<a href="https://www.multcloud.com/"> <img src="images/multicloud.png"   title="multi cloud"></a> 
<a href="https://rocketreach.co/?ref=cybrhome/"> <img src="images/rocketreach.png"   title="rocketreach"></a> 
<br>
<a href="https://mekeg.org/calculator"> <img src="images/rocketreach.png"   title="rocketreach"></a> 
<a href="https://www.free4talk.com/"> <img src="images/rocketreach.png"   title="rocketreach"></a> 
<a href="https://www.marj3.com/en"> <img src="images/rocketreach.png"   title="rocketreach"></a> 
<h2 style="margin-right: 40%;">Graphic Design</h2>
<a href="https://www.facebook.com/groups/583971245586828/"> <img src="images/rocketreach.png"   title="EPIC"></a> 
<a href="https://www.facebook.com/groups/392791044077830/"> <img src="images/rocketreach.png"   title="مصممين علي الناصية"></a> 
<h2 style="margin-right: 40%;">Always Search About :</h2> 
<h3 style="margin-right: 40%;">- windows - Excel shortcuts</h3>
<h3 style="margin-right: 40%;">- Best Android Apps [ في خدمتك My Ntra - My Fwary - Bm Wallet - BM Online - Bm Soft ] </h3>
<!--  ******************************************************************************* 
<a href="https://thepiratebay10.org/"> <img src="images/pirate.png"   title="pirate"></a>
https://www.notion.so/
https://www.pinterest.com/
https://app.enhancv.com/ // For Resume
https://trello.com/testit73/getting-started
https://cloud.google.com/appengine -->







ui ux okay ? understand me ? 
 
<a href="https://getbootstrap.com/"> <img src="images/bootstrap.png"   title="bootstrap"></a>
<a href="https://tailwindcss.com/docs"> <img src="images/tailwind.png"   title="tailwindcss"></a>

<a href="https://sass-lang.com/"> <img src="images/sass.png"   title="sass"></a>
<a href="https://themeforest.net/"> <img src="images/themeforest.png"   title="themeforest"></a>
<a href="https://www.figma.com/"> <img src="images/figma.png"   title="figma"></a>
<a href="https://www.frontendmentor.io/"> <img src="images/front-m.png"   title="frontendmentor"></a>
<a href="https://fontawesome.com/"> <img src="images/font awesome.png"   title="fontawesome"></a>
<a href="https://icomoon.io/"> <img src="images/icomoon.jpg"   title="icomoon"></a>
<a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"> <img src="images/css-tricks.png"   title="css-tricks"></a>
<a href="https://cssbattle.dev/"> <img src="images/battelcss.png"   title="cssbattle"></a>
<a href="https://material-ui.com/">        <img src="images/matrial ui.png"    alt="material"></a>
<br>
<a href="https://www.creative-tim.com/templates/flutter">        <img src="images/creative-team.png"    title="creative-team"></a>
<a href="https://codemyui.com/">        <img src="images/codemyui.png"    title="gitkraken"></a>
<a href="https://mdbootstrap.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>

<a href="https://dribbble.com/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://zeplin.io/">        <img src="images/visualstudio.png"    title="visualstudio"></a>
<a href="https://proto.io/">        <img src="images/protoio-min.jpg"    title="proto"></a>




<!-- <script type="text/javascript" language="javascript">
function RunFile() {
WshShell = new ActiveXObject("WScript.Shell");
WshShell.Run("c:/windows/system32/notepad.exe", 1, false);
}
</script> -->
<!-- <a href="file://///D:\1 CS\0 Proj + Data">           <img src="images/calc.png"title="calculator"></a> -->
<a href="https://stackexchange.com/sites/"> <img src="images/Stack_Exchange.png"   title="stackexchange"></a>
<a href="https://www.mindgames.com/"> <img src="images/dc4007ec8e5d310a4006202a976b5074.png"    title="mindgames"></a>
