<!DOCTYPE html><html><head id="head"><title>Secuirty</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/nav.css"  />
<link rel="stylesheet" type="text/css" href="../stylesheets/body.css"/>
<script src="../javascripts/nav.js" defer ></script>
</head><body id="test"> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div id="div1" class="container px-4">
            <div id="div9"></div>
    </nav>
     
<div class="all"> <div class="inline"> 
<a href="https://www.shodan.io/">        <img src="images/Shodan_logo.png"    alt="shodan"></a>
<a href="https://www.exploit-db.com/">        <img src="images/exploitdb.png"    alt="exploit-db"></a>
<a href="https://hack.me/">        <img src="images/hackme.png"    alt="hack.me"></a>
<a href="https://www.virustotal.com/gui/"> <img src="images/Virustotal.png"   title="virustotal"></a>
<a href="https://nmap.org/docs.html">        <img src="images/nmap.png"    title="nmap"></a>
https://checkleaked.cc/
https://thehackernews.com/
https://leak-lookup.com/
https://pastebin.com/
https://breachdirectory.org/
https://www.xml-sitemaps.com/

https://owasp.org/

https://ctflearn.com/dashboard

https://hashkiller.io/listmanager

https://auth.lusha.com/login?returnUrl=https%3A%2F%2Fdashboard.lusha.com%2Fprospecting

https://rfmirror.com/

https://rocketreach.co/person?employer%5B%5D=%22Information%20Technology%20Institute%20(ITI)%22&start=1&pageSize=10&geo%5B%5D=%22Egypt%22

https://pastebin.com/

https://databreach.es/

https://haveibeenpwned.com/

https://www.wireshark.org/docs/wsdg_html_chunked/

http://docs.w3af.org/en/latest/

https://owasp.org/www-project-zap/

https://www.snort.org/#documents

https://www.metasploit.com/

https://www.aircrack-ng.org/doku.php?id=getting_started

https://securitytrails.com/blog/google-hacking-techniques

https://www.tenable.com/products/nessus

<!-- 
    https://defcon.org/

    https://kalilinuxtutorials.com/h8mail-email-password-breach/
    
    https://html5sec.org/

https://www.netsparker.com/
https://www.acunetix.com/

http://sqlninja.sourceforge.net/

 -->