<!DOCTYPE html><html><head id="head" ><title>Challenges</title>
<link rel="stylesheet" type="text/css" href="../css/nav.css"  />
<link rel="stylesheet" type="text/css" href="../css/body.css"/>
<script src="../js/nav.js" defer ></script>
</head><body id="test"> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div id="div1" class="container px-4">
            <div id="div9"></div>
    </nav>
    <br><br><br>
<center>
    <a href="https://getbootstrap.com/"> <img src="../IMG/bootstrap.png"   title="bootstrap"></a>
    <a href="https://tailwindcss.com/docs"> <img src="../IMG/tailwind.png"   title="tailwindcss"></a>
    
    <a href="https://sass-lang.com/"> <img src="../IMG/sass.png"   title="sass"></a>
    <a href="https://themeforest.net/"> <img src="../IMG/themeforest.png"   title="themeforest"></a>
    <a href="https://www.figma.com/"> <img src="../IMG/figma.png"   title="figma"></a>
    <a href="https://www.frontendmentor.io/"> <img src="../IMG/front-m.png"   title="frontendmentor"></a>
    <a href="https://fontawesome.com/"> <img src="../IMG/font awesome.png"   title="fontawesome"></a>
    <a href="https://icomoon.io/"> <img src="../IMG/icomoon.jpg"   title="icomoon"></a>
    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"> <img src="../IMG/css-tricks.png"   title="css-tricks"></a>
    <a href="https://cssbattle.dev/"> <img src="../IMG/battelcss.png"   title="cssbattle"></a>
    <a href="https://material-ui.com/">        <img src="../IMG/matrial ui.png"    alt="material"></a>
    <br>
    <a href="https://www.creative-tim.com/templates/flutter">        <img src="../IMG/creative-team.png"    title="creative-team"></a>
    <a href="https://codemyui.com/">        <img src="../IMG/codemyui.png"    title="gitkraken"></a>
    <a href="https://mdbootstrap.com/">        <img src="../IMG/visualstudio.png"    title="visualstudio"></a>
    
    <a href="https://dribbble.com/">        <img src="../IMG/visualstudio.png"    title="visualstudio"></a>
    <a href="https://zeplin.io/">        <img src="../IMG/visualstudio.png"    title="visualstudio"></a>
    <a href="https://proto.io/">        <img src="../IMG/protoio-min.jpg"    title="proto"></a>

</center>


<!-- <script type="text/javascript" language="javascript">
    function RunFile() {
    WshShell = new ActiveXObject("WScript.Shell");
    WshShell.Run("c:/windows/system32/notepad.exe", 1, false);
    }
</script> -->
<!-- <a href="file://///D:\1 CS\0 Proj + Data">           <img src="../IMG/calc.png"title="calculator"></a> -->
<a href="https://stackexchange.com/sites/"> <img src="images/Stack_Exchange.png"   title="stackexchange"></a>
<a href="https://www.mindgames.com/"> <img src="images/dc4007ec8e5d310a4006202a976b5074.png"    title="mindgames"></a>
